Repository doloopuntil/dlu-afsm: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, check-rst, name-tests-test, poetry-check, poetry-lock

check-yaml:
  name: ✅️ Check - YAML file syntax
  language: script
  entry: .venv/bin/check-yaml

check-toml:
  name: ✅️ Check - TOML file syntax
  language: script
  entry: .venv/bin/check-toml

check-rst:
  name: ✅️ Check - RST file syntax
  language: script
  entry: .venv/bin/rstcheck

name-tests-test:
  name: 🔤️ Check - Filename for tests
  language: script
  entry: .venv/bin/name-tests-test
  args:
  - --pytest-test-first

poetry-check:
  name: ⚙️  Check - Poetry configuration file
  language: system
  entry: poetry check
  pass_filenames: false

poetry-lock:
  name: 🔒️ Update - Poetry lock file
  language: system
  entry: poetry lock
  pass_filenames: false
  stages:
  - push

Rework coverage data collection for use both locally and with GH Actions
  .github/workflows/run-tests.yaml
  .gitignore
  poetry.lock
  pyproject.toml
Due: check-yaml, check-toml, poetry-check, poetry-lock

Minor name refactoring in test code
  tests/test_afsm/test_afsm.py
Due: name-tests-test

Migrate dependency management from poetry to PDM
  .github/workflows/run-tests.yaml
  .gitignore
  .pre-commit-config.yaml
  README.rst
  pdm.lock
  poetry.lock
  poetry.toml
  pyproject.toml
  src/afsm/__init__.py
Due: check-yaml, check-toml, check-rst, poetry-check, poetry-lock

Improve test naming
  .pre-commit-config.yaml
  pdm.lock
  pyproject.toml
  src/afsm/__init__.py
  src/afsm/_fsm.py
  src/afsm/_state.py
  tests/test_afsm/test_afsm.py
Due: check-yaml, check-toml, name-tests-test, poetry-check, poetry-lock

Move pre-push stage hooks to pre-commit stage
  .pre-commit-config.yaml
  pyproject.toml
Due: check-yaml, check-toml, poetry-check, poetry-lock

Add code quality metrics
  .github/workflows/run-tests.yaml
  .gitignore
  .pre-commit-config.yaml
  pdm.lock
  pyproject.toml
Due: check-yaml, check-toml, poetry-check, poetry-lock

Add python dependency vulnerability check
  .pre-commit-config.yaml
  pdm.lock
  pyproject.toml
Due: check-yaml, check-toml, poetry-check, poetry-lock

Small refactor
  src/afsm/__init__.py
Due: none

Add more reStructuredText validation
  .pre-commit-config.yaml
  pdm.lock
  src/afsm/__init__.py
Due: check-yaml

Add basic documentation to the package
  .gitignore
  .pre-commit-config.yaml
  README.rst
  docs/conf.py
  docs/examples.rst
  docs/fsm.rst
  docs/index.rst
  docs/state.rst
  pdm.lock
  pdm.toml
  pyproject.toml
  src/afsm/__init__.py
  src/afsm/_fsm.py
  src/afsm/_state.py
  tests/test_afsm/test_afsm.py
Due: check-yaml, check-toml, check-rst, name-tests-test, poetry-check, poetry-lock

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-toml: any of: \.toml$
  check-rst: any of: \.rst$
  name-tests-test: any of: (^|/)tests/.+\.py$
  poetry-check: any of: ^pyproject.toml$
  poetry-lock: any of: ^pyproject.toml$
